h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 31, 122);
    margin-top: 3rem;
    margin-left: 5rem;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5rem;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 100vh;          /* Full screen height */
    background-image: url('sanrio-cinnamonroll.gif'); /* Initial correct background */
    background-size: cover; /* Cover the entire background */
    background-position: center;
    transition: background-image 0.5s ease; /* Smooth transition when image changes */
    position: relative;
}

.center-image {
    position: absolute;
    width: 80rem;  /* Set the width of the image */
    height: 40rem;  /* Maintain aspect ratio */
    opacity: 0.2;
}
