img{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

h1{
    font-size: medium;
}

.example{
    font-size: small;
    color: gray;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container with initial background image */
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 100vh;          /* Full screen height */
    background-image: url('kuromi.gif'); /* Initial correct background */
    background-size: cover; /* Cover the entire background */
    background-position: center;
    transition: background-image 0.5s ease; /* Smooth transition when image changes */
}


/* Styling the form box */
.entry-box {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

/* Styling the input field */
input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styling the submit button */
input[type="submit"] {
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}